@font-face {
  font-family: "NorseBold";
  src: url("Norse-Bold.otf");
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap");

:root,
* {
  font-family: "Roboto", sans-serif;
}

html {
  background-color: rgba(249, 250, 251);
}

.container {
  min-width: 100vh;
}

.container,
.logo {
  display: flex;
}

.left {
  width: 37.15%;
  min-height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.4) 50%,
      rgba(0, 0, 0, 0.05) 100%
    ),
    url("../img/palms.jpg");
  background-size: cover;
  position: relative;
}

figure {
  margin: 0;
  margin-top: 20vh;
  background-color: rgba(16, 15, 15, 0.6);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-image,
.logo-text {
  display: inline-block;
  vertical-align: middle;
}

.logo-image {
  min-width: 50px;
  max-width: 6vw;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo-text {
  font-family: "NorseBold";
  color: white;
  font-size: 70px;
}

.unsplash {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center; /* Center the text horizontally */
  background-color: rgba(16, 15, 15, 0.6);
  color: rgba(249, 250, 251);
  font-size: 10px;
}

a {
  text-decoration: none;
  color: powderblue;
}

.right {
  background-color: rgba(249, 250, 251);
}

.service-text {
  margin-top: 15vh;
  padding-left: 48px;
  padding-right: 187px;
}

p {
  font-size: 24px;
  font-weight: 400;
  max-width: 670px;
  line-height: 1.2em;
}
