@font-face {
  font-family: "NorseBold";
  src: url("Norse-Bold.otf");
}

:root,
* {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background-color: rgba(249, 250, 251);
}

.container {
  min-width: 100%;
}

.container,
.logo {
  display: flex;
}

.left {
  width: 37.15%;
  min-height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0.05) 100%
    ),
    url("../img/palms.jpg");
  background-size: cover;
  position: relative;
}

figure {
  margin: 0;
  margin-top: 20vh;
  background-color: rgba(16, 15, 15, 0.6);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-image,
.logo-text {
  display: inline-block;
  vertical-align: middle;
}

.logo-image {
  min-width: 50px;
  max-width: 6vw;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo-text {
  font-family: "NorseBold";
  color: white;
  font-size: 70px;
}

.unsplash {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center; /* Center the text horizontally */
  background-color: rgba(16, 15, 15, 0.6);
  color: rgba(249, 250, 251);
  font-size: 10px;
}

a {
  text-decoration: none;
  color: powderblue;
}

.right {
  background-color: rgba(249, 250, 251);
  width: 62.85%; /* 100% - 37.15% */
  box-sizing: border-box;
}

.service-text {
  margin-top: 16.5vh;
  padding-left: 48px;
  padding-right: 187px;
}

p {
  font-size: 24px;
  font-weight: 600;
  max-width: 725px;
  line-height: 1.2em;
  margin: 0;
}

.service-text p:last-child {
  padding-top: 32px;
  padding-bottom: 64px;
  margin: 0;
}

.form {
  padding-left: 48px;
  padding-top: 24px;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

label {
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
  letter-spacing: 1px;
}
